/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
    font-weight: 700;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}


/****** Header ***********/
a {
    text-decoration: none;
    color: black;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.BookiLogo {
    width: 61.09px;
    height: 19px;
    margin: 30px;
}

.navHeader {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items:flex-start;
    margin-top: 0px;
}
    

.navLinkHeader1 {
height: 19px;
margin-top: 0px;
margin-right: 69px;
padding-top: 16px;
}

.navLinkHeader2 {
height: 19px;
margin-top: 0;
padding-top: 16px;
margin-right: 30px;
}

.navHeader  :hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
}


.header-txt {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; 
    
}

.header-txt h1 {
    font-weight: 800;
    font-size: 22px;
    margin:30px 0 0 50px;

}

.header-txt p {
    font-size: 16px;
    font-weight: 400;
    margin: 8px 0px 0 50px;
}


/****** Searchbar ***********/

.searchbar {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    padding: 0;
    margin: 35px 0px 35px 50px;
    border: 1px #F2F2F2 solid;
    width: fit-content;
}

.fa-location-dot {
    color:black;
}

.location-dot {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
    border: none;
}

#research-input {
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 0 14px 0;
    border: none;
}

#research-button {
    border: 2px #0065FC solid;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 18px;
    font-weight: 700;;
    color: white;
    background-color: #0065FC;
    height: 50px;
    width: 55%;
    max-width: 120px;
    display: flex;
    align-items: center;
}

#research-button-phone {
    display: none;
}

/****** Filters ***********/

.filters {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.filters h2 {
    margin-left: 50px;
    font-size: 18px;
    font-weight: 700;
}

.filter-options {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    border: 2px #F2F2F2 solid;
    border-radius: 40px;
    padding: 15px 19px 15px 19px;
    margin: 15px;
    font-weight: 700;
    font-size: 17px;
    display: flex;
    align-items: center;
} 

.button i {
    padding-right: 10px;
}

.filter-options :hover {
    background-color: #DEEBFF;
    cursor: pointer;
}
 
/****** Informations ***********/

.information {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 37.5px 0;
    margin-left: 50px;
}

.information i {
    border: 1px #F2F2F2 solid;
    border-radius: 50px;
    width: 24px;
    height: 24px;
    padding: 2px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information p {
    font-size: 400;
    font-weight: 16px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    padding-left: 30px;
    padding-bottom: 30px;
}

.hebergements h2 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 30px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    width: 28%;
    max-height: 220.25px;
    padding-bottom: 15px;
    overflow: hidden;
}

.hebergements-cards img{
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    align-self: stretch;
    object-fit: cover;
}

.hebergements-cards .card-content {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    padding-left: 10px;
    box-sizing: border-box;
}


.hebergements-cards .card-subtitle{
    font-size: 14px;
    font-weight: 400;
    margin:0;
}

.hebergements-cards .card-rating {
    padding:0;
}

.afficher-plus {
    max-width: 55%;
    margin-top: 30px;
    margin-bottom: 0;
    margin-left: 30px;
    font-weight: 700;
    font-size: 18px;
}


/****** Populaires ***********/
.populaires {
    width: 32%;
    padding-right: 50px; /** ne sert à rien ***/
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

.activites h2 {
    display: flex;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.activites-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 50px 0 50px;
}

.activites-cards a {
    width: 20%;
    min-width: 220px;
}

.activites-cards .card{
    padding: 0 0 10px 0;
}

.activites-cards img{
    width:100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
    padding: 0px;
}

.activites-cards .card-txt {
    display: flex;
    align-items: center;
    font-weight: 700;
    padding-left: 15px;
}

/****** Footer ***********/

footer {
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content :flex-start;
    margin: 65px 30px 0 30px; 
}

footer h3 {
    font-size: 18px;
    font-weight: 700;
}

.footer-areas {
    width: 30%;
    padding-left: 20px;
    padding-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

    
/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .filters {
        display: inline;
        margin-left: 50px;
    }

    .filter-options {
        display: flex;
        margin-left: 50px;
    }

    .information {
        margin-left: 50px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .hebergements h2{
        padding-left: 0;
    }

    .hebergements-cards{
        padding-left: 0;
        padding-right: 0;
    }

    .hebergements-cards .card{
        height: 220.25px;
        width: 26%;
        margin: 10px;
    }

    .afficher-plus {
        margin-left: 0;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
        min-width: 200px;
        margin: 10px;
        margin-top: 30px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards img {
        width: 30%;
        height: 146px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .activites h2 {
        display: flex;
        margin-top: 60px;
        margin-bottom: 30px;
        margin-left: 50px;
    }

    .activites-cards .card {
        height: 270px;
        
    }

    .activites-cards img{
        width: 100%;
        height: 200px;
        border-radius: 20px 20px 0 0;
        padding: 0px;
    }
    
    .activites-cards .card-txt {
        display: flex;
        flex-wrap:wrap;
        align-items: center;
        font-weight: 700;
        padding-left: 15px;
    }

    .card-title {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
}
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */


    .main-container {
        padding: 0 0 0 0;
    }

    .header {
        flex-direction: column;
        justify-content: center;
    }

    .BookiLogo {
        margin-left: 45%;
        margin-right: 45%;
    }

    .navHeader {
        align-items:flex-start;
        justify-content: space-around;
        border-bottom: 2px #F2F2F2 solid;
    }      

    .navLinkHeader1 {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        margin-right: 0px;
    }

    .navLinkHeader2 {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-bottom: 15px;
        margin-right: 0px;
    }

    .navHeader  :hover {
        color: #0065FC;
        border-top: 0;
        border-bottom: 2px #0065FC solid;
    }

    .location-dot {
        width: 80px;
        height: 50px;
    }

    #research-button {
        display: none;
    }

    #research-button-phone {
        border: 2px #0065FC solid;
        border-radius: 10px;
        background-color: #0065FC;
        height: 50px;
        width: 55%;
        max-width: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .fa-magnifying-glass {
        color: white;
    }


    .filter-options {
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 30px;
    }

    .button {
        width: 25%;
        min-width: 130px;
    } 


    .hebergements-and-populaires {
        flex-direction: column-reverse;
        margin: 0px;
    }

    .hebergements-and-populaires section {
        border-radius: 0%;
    }
    
    .populaires {
        width: 100%;
        padding-right: 0px;

    }

    .populaires-cards {
        padding-right: 20px;
        flex-direction: column;
    }
    
    .populaires-cards .card {
        width: 100%;
        min-width: 200px;
        margin: 10px;
    }

    .populaires-cards img {
        width: 111px;
        height: 146px;
    }

    .hebergements {
        width: 100%;
        padding-left: 0;
    }

    #hebergements_a_marseille {
        background-color: white;
    }

    .hebergements-cards .card {
        width: 100%;
    }

    .hebergements-cards img{
        width: 100%;
        height: 130px;
    }

    .afficher-plus {
        padding: 10px;
    }

    .activites-cards {
        flex-direction: column;
        margin-bottom: 50px;
    }

    .activites-cards a {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    .activites-cards .card {
        width: 95%;
        height: 200px;
        margin: 0;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .activites-cards img {
        width: 100%;
        max-height: 150px;
    }

    footer {
        margin: 0;
        padding: 30px;
    }

    .footer-areas {
        width: 100%;
    }

}